html{
	font-size:100%;
}

body{
	font-family: sans-serif;
}

.title{
	font-family: "Dancing Script";
	font-size: 10rem;
	font-weight: normal;
	margin-bottom: 2rem;
}

section{
	background-size: cover;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

p{
	line-height: 2rem;
	letter-spacing: 0.3rem;
	font-size: 1.1rem;
}

.hero{
	background-image: url(bread1.jpg);
	background-position: center center;
	text-align: center;
	padding-top: 10vh;
}

.hero h1{
	margin-top: 0;
	margin-bottom: 4rem;
}

.menu{
	background-image: url(bread2.jpg);
	background-position: center center;
	align-items: center;
	overflow: hidden;
	height: 130vh;
	display: flex;
}

.wrapper{
	width: 100%;
	padding: 0 14rem 10rem 10rem;
	
}

.menu-List{
	text-align: left;
	line-height: 2rem;
	font-size: 1.25rem;
}

.menu-List th{
	font-weight: normal;
	letter-spacing: 0.3rem;
	display: block;
	width: 60vh;
}

.menu-List td{
	padding-left: 2rem;
}

.menu-icon{
	display: none;
}

.menu-List2{
	display: none;
}

.contact{
	background-image: url(cafe.jpg);
	background-position: center center;
	text-align: center;
	padding-top: 10vh;
}

.contact h2{
	margin-top: 0;
}

.contact p{
	background-color: rgba(255,255,255,0.4);
}

.btn{
	background-color: #555;
	color: white;
	border-radius: 6px;
	padding: 1rem 4rem;
	display: inline-block;
	margin: 2.5rem 0 2rem 0;
	text-decoration: none;
	opacity: 0.7;
	box-shadow: 0 0.2rem rgb(7, 7, 7);
}

.btn:hover{
	opacity: 1;
}

.btn:active{
	box-shadow: none;
	position: relative;
	top: 0.2rem;
	}

ul{
	display: flex;
	justify-content: center;
	list-style: none;
	padding-right: 1rem;
}

li{
	display: inline-block;
	margin-right: 1.8rem;
	width: 3rem;
	height: 3rem;
	background-color: white;
	border-radius: 50%;
	text-align: center;
	line-height: 3.9rem;
	opacity: 0.8;
}


li:hover {
	background:white;
	opacity: 1;
}

.icon{
	color: #555;
}


/*MOBILE SIZE*/
@media (max-width: 700px){

	section{
		height: 80vh;
	}

	.title{
		font-size: 4rem;
	}

	.wrapper{
		max-width: 100%;
		display: none;
	}

	.menu{
		height: 100vh;
	}

	.menu-List{
		font-size: 1rem;
	}

	.mobile-Menu{
		display: block;
		margin:  0 auto 0 auto;
	}

	.menu-icon{
		font-family: "Dancing Script";
		display: inline-block;
		
		font-size: 4rem;
	}

	.menu-List2{
		display: flex;
		justify-content: center;
		background-color: rgba(255,255,255,0.5);
		line-height: 2.25rem;
		text-align: left;
		font-size: 1rem;
		position: relative;
		border-radius:5% 5% 0 0;
		border-collapse: collapse;
	}

	.menu-List2 td,th{
	   color: rgba(0, 0, 0, 0.7);
			border-bottom: 1px solid rgba(0, 0, 0, 0.7);
			padding-top: 0.5rem;
			padding-bottom: -1rem;
	}

	.menu-List2 th{
		font-weight: normal;
		padding-right: 2rem;
	}

	.menu-List2 td{
		padding-right: 0.5rem;
	}


}
